<!DOCTYPE html>
<html>
    <head>
        <title>Lab2_Jiaxian_Xing</title>
        {{!-- <link rel="stylesheet" href="dist/css/bootstrap.css"> --}}
        <link rel="stylesheet" href="/css/main.min.css">
    </head>

    <body>
        <header class="jumbotron">
            <h1 id="webTitle">lab2: the awsome web</h1>
        </header>

        {{!-- <div class="backgroundImage">
            <img src="https://cdn.vox-cdn.com/thumbor/4VsDYqociZKfwyfMTVKrC1acm5M=/0x0:1836x1197/920x613/filters:focal(741x165:1033x457)/cdn.vox-cdn.com/uploads/chorus_image/image/63935579/marvel.0.1430832763.0.jpg">
        </div> --}}
        {{{body}}}

        <footer class="container-lg">
            <span class="badge badge-warning"> TradeMark @cospany-right 2020</span>
            <a class="badge badge-warning" href="/"> homework lab2</a>
            <span class="badge badge-warning"> cs554</span>
        </footer>
        
        <script src="/js/vendor.min.js"></script>
    </body>
</html>