<!DOCTYPE html>
<html>
    <head>
        <title>Lab2_Jiaxian_Xing</title>
        {{!-- <link rel="stylesheet" href="dist/css/bootstrap.css"> --}}
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <header class="jumbotron">
            <h1 id="webTitle">lab2: the awsome web</h1>
        </header>

        {{{body}}}

        <footer class="container-lg">
            <span class="badge badge-info"> TradeMark @cospany-right 2020</span>
            <a class="badge badge-info"> homework lab2</a>
            <span class="badge badge-info"> cs554</span>
        </footer>

        <script src="/js/vendor.min.js"></script>
    </body>
</html>